@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import 'tailwindcss';
@tailwind utilities;


@theme inline {
  --font-sans: 'Rubik', sans-serif;

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-white: #ffffff;
  --color-black: #000000;

  --color-primary: #6c25ff;
  --color-secondary: ##e70b89;
  --color-text: #1d2226;

  --breakpoint-xs: 22.5rem; /* 360px */
  --breakpoint-sm: 36rem; /* 576px */
  --breakpoint-md: 48rem; /* 768px */
  --breakpoint-lg: 62rem; /* 992px */
  --breakpoint-xl: 75rem; /* 1200px */
}

:root {
  --background: #f7f8f9;
  --foreground: #1d2226;
}

@layer base {
  body {
    @apply bg-white text-foreground font-normal;
    font-family: var(--font-sans);
  }
}
